/*
 * t3.css
 */

body {
  font-family: helvetica, sans-serif;
}

.t3grid {
  padding: 10px;
  border-spacing: 0px;
  border-width: 0px;
}

@media (orientation: portrait) {
  .t3grid {
    width: 100%;
  }
  #control {
    width: 100%;
  }
  #game {
    width: 100%;
    float: clear both;
  }
}

@media (orientation: landscape) {
  .t3grid {
    height: 100%;
    width: 100%;
  }
  #control {
    width: 50%;
    float: left;
  }
  #game {
    width: 50%;
    float: right;
  }
}

.t3row { 
  width: 33.33%;
  border-width: 0px;
}

.t3cell {
  border-width: 0px;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
 
.t3left {
  border-left-width: 0px;
  border-right-width: 3px;
}
 
.t3center {
  border-left-width: 3px;
  border-right-width: 3px;
}
 
.t3right {
  border-left-width: 3px;
  border-right-width: 0px;
}
  
.t3top {
  border-top-width: 0px;
  border-bottom-width: 3px;
}
  
.t3middle {
  border-top-width: 3px;
  border-bottom-width: 3px;
}
  
.t3bottom {
  border-top-width: 3px;
  border-bottom-width: 0px;
}

div {
  border-style: solid;
  border-width: 0px;
  border-color: black;
}

td {
  width:33.33%;
  position:relative;
  valign: middle;
}

td:after{
  content:'';
  display:block;
  margin-top:100%;
}

td .t3box {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  font-family: helvetica, sans-serif;
  font-size: 18vw;
  text-align: center;
}

.t3winner {
  background-color: blue;
}
